#boundary {
    width: 95vw;
    height: 95vh;
    border: black 2px solid;
    display: grid;
    grid-template-rows: auto 1fr;
}

#display {
    box-sizing: border-box;
    width: 100% - 20px;
    height: 200px;
    margin: 20px;
    border: black 2px solid;

}

#buttons {
    box-sizing: border-box;
    position: relative;
    width: auto;
    height: auto;
    max-height: 750px;
    margin: 20px;
    border: black 2px solid;
    display: grid;
    grid-template-areas:
        "row-one"
        "row-two"
        "row-three"
        "row-four"
        "row-five";
}

#row-one {
    grid-area: "row-one";
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#row-two {
    grid-area: "row-two";
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#row-three {
    grid-area: "row-three";
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#row-four {
    grid-area: "row-four";
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#row-five {
    grid-area: "row-four";
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.button {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    border: black 2px solid;
    border-radius: 5px
}


/*
#display {
    height: 100px;
    width: 500px;
    border: black 2px solid;
    margin-bottom: 20px;
}

#buttons {
    height:500px;
    width: auto;
    border: black 2px solid;
    margin-top: 20px;
    display: grid;
    grid-template-columns:
        "numbers"
        "operators";
}

.button {
    height: 20px;
    width: 50px;
}

#numbers {
    height: 400px;
    width: 310px;
    border: black 2px solid;
    grid-area: "numbers";
    grid-template-rows:
        "row-one"
        "row-two"
        "row-three"
        "row-four";
}

#operators {
    border: black 2px solid;
    grid-area: "operators";
    grid-template-columns: 
        "add"
        "subtract"
        "multiply"
        "divide";
}



.row-one {
    grid-area: "row-one";
}

.row-two {
    grid-area: "row-two";
}

.row-three {
    grid-area: "row-three";
}

.row-four {
    grid-area: "row-four";
}

#add {
    grid-area: "add";
}

#subtract {
    grid-area: "subtract";
}

#multiply {
    grid-area: "multiply";
}

#divide {
    grid-area: "divide";
} */